<title>Defect Lists</title>
<style>
a{
    text-decoration: none;
    color: #00008e;    
	font-family: verdana; font-weight: bold;font-size: 10pt;

}
</style>
<body bgcolor=#bbbbbb >
<center>
<h4>Defects owned by <%= @list_all %></h4>



</center>
